@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
    @apply bg-white text-black dark:bg-[#0b0b0b]	 dark:text-white; 
	}
}


@font-face {
  font-family: 'Lamarkie';
  src: url('../assets/fonts/Lamarkie.otf') format('opentype');
}

@font-face {
  font-family: 'Melodrama-Variable';
  src: url('../assets/fonts/Melodrama-Variable.woff2') format('woff2'),
    url('../assets/fonts/Melodrama-Variable.woff') format('woff'),
    url('../assets/fonts/Melodrama-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Melodrama-Light';
  src: url('../assets/fonts/Melodrama-Light.woff2') format('woff2'),
    url('../assets/fonts/Melodrama-Light.woff') format('woff'),
    url('../assets/fonts/Melodrama-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Melodrama-Regular';
  src: url('../assets/fonts/Melodrama-Regular.woff2') format('woff2'),
    url('../assets/fonts/Melodrama-Regular.woff') format('woff'),
    url('../assets/fonts/Melodrama-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Melodrama-Medium';
  src: url('../assets/fonts/Melodrama-Medium.woff2') format('woff2'),
    url('../assets/fonts/Melodrama-Medium.woff') format('woff'),
    url('../assets/fonts/Melodrama-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Melodrama-Semibold';
  src: url('../assets/fonts/Melodrama-Semibold.woff2') format('woff2'),
    url('../assets/fonts/Melodrama-Semibold.woff') format('woff'),
    url('../assets/fonts/Melodrama-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Melodrama-Bold';
  src: url('../assets/fonts/Melodrama-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TaipeiSansTCBeta-Light';
  src: url('../assets/fonts/TaipeiSansTCBeta-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'TaipeiSansTCBeta-Regular';
  src: url('../assets/fonts/TaipeiSansTCBeta-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TaipeiSansTCBeta-Bold';
  src: url('../assets/fonts/TaipeiSansTCBeta-Bold.ttf') format('truetype');
}

/* font-family: 'Melodrama-Variable';
font-family: 'Melodrama-Light';
font-family: 'Melodrama-Regular';
font-family: 'Melodrama-Medium';
font-family: 'Melodrama-Semibold';
font-family: 'Melodrama-Bold'; */
